<div class="modal-header">
  <h4 class="modal-title">
    {{service.form.controls['id'].value ? "Modify Project" : "New Project"}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="service.form" class="md-form" (submit)="onSubmit()">
    <input type="hidden" formControlName="id">
    <div class="form-group">
      <input formControlName="name" placeholder="Name*">
      <p *ngIf="service.form.controls['name'].invalid">This field is mandatory.</p>
    </div>
    <div class="form-group">
      <input formControlName="logicName" placeholder="Logic Name*">
      <p *ngIf="service.form.controls['logicName'].invalid">This field is mandatory.</p>
    </div>
    <div class="form-group">
      <input formControlName="description" matInput placeholder="Description">
    </div>
    <button class="btn btn-success" type="submit" [disabled]="service.form.invalid">Submit</button>
    <button class="btn btn-default" (click)="onClear()">Clear</button>
  </form>
</div>
