<mat-toolbar>
  <span>{{service.form.controls['id'].value !== null ? "Modify Project" : "New Project"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <div class="controles-container">
    <input type="hidden" formControlName="id">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Name*">
      <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="logicName" matInput placeholder="Logic Name*">
      <mat-error>This field is mandatory.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea formControlName="description" matInput placeholder="Description"></textarea>
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
      <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>
