<div class="container">
  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Projects List</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <pms-scrum-state #TODO [title]="'TODO'"></pms-scrum-state>
    </mat-grid-tile>
    <mat-grid-tile>
      <pms-scrum-state #INPROGRESS [title]="'IN PROGRESS'"></pms-scrum-state>
    </mat-grid-tile>
    <mat-grid-tile>
      <pms-scrum-state #DONE [title]="'DONE'"></pms-scrum-state>
    </mat-grid-tile>
  </mat-grid-list>
</div>
