<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['/']"><h1>PMS</h1></button>
    <span class="fill-remaining-space"></span>
    <button mat-button [routerLink]="['/dashboard']">Dashboard</button>
    <button mat-button [routerLink]="['/dashboard/project/'+currentId+'/scrum']">Scrum</button>
    <button mat-button [routerLink]="['/dashboard/project/'+currentId+'/gantt']">Gantt</button>
    <button mat-button [routerLink]="['/dashboard/project/'+currentId+'/cost']">Cost</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="page-footer font-small ">

  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="http://eniso.info"> NaN Team</a>
  </div>

</footer>
